<h1>shortened</h1>
<p>
	You're original link <strong><%= @link.url %></strong>
	is available as <%= button_	link_to expand_link_url(@link), expand_link_url(@link) %>
</p>

<%= box do %>
	Created at <%= time(@link) %>.
	Visited <%= pluralize @link.visits, "time", "times" %>
<% end %>
